<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet"> <!-- google font -->
</head>

<body>
    <nav>
        <ul class="container">
            <li><a href="/">Home</a></li>
            <li><a href="/leaderboards">Leaderboards</a></li>
            <li>Create an Account</li>
            <li>Logout</li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>

    {{{ body }}}
</body>

</html>