<div id="help-div">
    <h1>Help</h1>
    <p>To get started, create an account if you don't already have one in the page that you are redirected to upon
        loading the website. Once you're signed in, you'll be redirected to the game page and you can play. Your results
        get submitted to the leaderboards automatically, tied to your username, once a level is complete.</p>
    <p>If you're having trouble getting the game to respond to your inputs, make sure you have clicked on the game
        screen so that the area is active.</p>
    <p>If you're in need of more in-depth help, you can contact any of our team. Our github repo is accessible
        at <a href="https://github.com/mjaeschke/platforming-to-success">this page</a>.</p>
</div>