<div id="header-div">
    <h1 id="mainH1">Platformer</h1>
</div>
<h2>Welcome <span class="member-name"></span></h2>
<canvas id="canvas"></canvas>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/indextest.js"></script>