<div id="header-div">
    <h1 id="mainH1">Platformer</h1>
</div>
<div id="signedInAs">
    <h2>Signed in as user: <span id="member-name"></span></h2>
</div>
<canvas id="canvas"></canvas>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/welcome.js"></script>