<div id="leaderboards-header-div">
    <h1>Leaderboards</h1>
    <h2><i>Top 15 Scores for:</i> Level 1</h2>
</div>
<div id="leaderboards-div">
    <ul id="leaderboards-ul">
        {{#each scores}}
        <li>{{score}} | {{username}}</li>
        {{/each}}
    </ul>
</div>