<div id="header-div">
    <h1 id="mainH1">Welcome</h1>
</div>
<div>
    <button id="testbutton">Submit</button>
</div>

<script src="/assets/js/welcome.js"></script>
<script src="/assets/js/indextest.js"></script>