canvas {
  border: 3px solid rgb(137, 150, 180);
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1280px;
  height: 720px;
}

* {
  background-color: rgb(247, 249, 255);
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 0;
  padding-top: 10px;
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 10px;
}

.container > li {
  margin-top: 5px;
  flex: 1;
  list-style-type: none;
  border-style: solid;
  border-color: rgb(166, 178, 207);
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-width: 1px;
  background-color: rgb(217, 224, 241);
  color: white;
  text-align: center;
}

.container > li > a,
.container > li > a:visited {
  color: rgb(117, 125, 144);
  background-color: rgb(217, 224, 241);
  text-decoration: none;
}

#header-div {
  width: 100%;
  height: 40px;
  text-align: center;
}

#help-div {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  text-align: center;
}

#top-of-page {
  background-color: black;
  width: 100%;
  height: 50px;
}

h1,
h2 {
  font-weight: normal;
}

#leaderboards-div {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  text-align: center;
}

#leaderboards-header-div {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#leaderboards-ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

#signedInAs {
  opacity: 0.5;
  text-align: center;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

h1 {
  opacity: 60%;
}

#mainSignupContainer,
#mainLoginContainer {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.form-control,
#submit-button {
  border: solid 1px;
  opacity: 70%;
}

#submit-button {
  width: 10%;
  height: 10%;
  border-radius: 100px;
  opacity: 70%;
}
